Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/Abandoned_Cathedral/
Content/Meshe/StaticMesh/Environmental

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
