Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/Abandoned_Cathedral/
Content/Meshe/StaticMesh/Environmental
Content/Ruined_Modern_Buildings

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
